@font-face {
    font-family: 'dockerone';
    src: url('../fonts/Docker One.eot');
    src: url('../fonts/Docker One.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Docker One.woff') format('woff'),
         url('../fonts/Docker One.ttf') format('truetype'),
         url('../fonts/Docker One.svg#dockerone') format('svg');
    font-weight: normal;
    font-style: normal;

}