body
    background-color: white
    font-size: 14px
    line-height: 1.6
    font-family: $font-base
    color: #666
    -webkit-font-smoothing: antialiased
    -webkit-text-size-adjust: 100%

.empty
	height: 60px

@media screen and (min-width: $large-min)
	.container
		width: 940px