.form
  &__input
    height: 48px
    border: 2px solid #ececec
    border-radius: 5px
    background-color: #f8f8f8
    padding: 0 18px
    width: 100%
    margin-bottom: 20px
  &__textarea
    border: 2px solid #ececec
    border-radius: 5px
    background-color: #f8f8f8
    padding: 0 18px
    width: 100%
    margin-bottom: 20px
  &__subscribe
    display: table
    margin-bottom: 20px
    height: 48px
    border: 0px
    padding: 0 18px
    border-radius: 5px
    background-color: $red
    color: #fff
    text-transform: uppercase
    &--center
      margin-left: auto
      margin-right: auto
  &__lable
    display: block
    margin-bottom: 10px

@media (max-width: $tablet-max)
    .form__subscribe
        margin: auto