//	Headings

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
  color: #222
  font-weight: bold

h1
  font-size: 64px
  line-height: 1.05
  letter-spacing: -1px
  font-family: $font-title
  text-transform: uppercase

h2
  font-size: 30px
  line-height: 1.14
  margin-top: 70px
  margin-bottom: 60px
  font-family: $font-title
  text-align: center
  text-transform: uppercase

.big, h3
  font-size: 26px
  line-height: 1.38
  text-align: center
  text-transform: uppercase


// Basic Text Style

p
  margin: 0 0 20px 0

em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0
