.bonuses
  padding-top: 75px
  border-bottom: 2px solid #e4e7e7
  &__intro
    font-size: 20px
    text-transform: uppercase
    text-align: center
    color: $title-gray
    font-weight: 700
    margin-bottom: 80px
  &__item
    text-align: center  
    &__num
      font-size: 92px
      font-family: $font-title
      color: $red
      line-height: 1
    &__title
      color: #2b414d
      font-size: 21px
    &__text
      color: #777c7f
      font-size: 13px