footer
  background-color: $red
  text-align: center
  p
    line-height: 80px
    color: #fff
    margin-bottom: 0

@media (max-width: $large-min)
  .footer--fixed
    position: fixed;
    width: 100%;
    bottom: 0;