.header
  background-color: transparent
  box-shadow: none
  &__registration
    a
      display: block
      background-color: $red
      color: #fff !important
      margin-top: 9px;
      line-height: 45px;
      font-weight: 700;
      text-transform: uppercase
      font-size: 18px
      border-radius: 5px
  .brand-logo
    margin-top: 5px
  li
    &:hover
      background-color: transparent
  ul
    a
      padding: 0 10px
      font-size: 13px
      color: $red
      text-transform: uppercase
      &:hover
        color: #fff
  &--black
    background-color: #3E3D3D;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  &__bg
    background-color: #3E3D3D
    height: 64px
    position: fixed;
    margin-top: -64px;
    width: 100%;

@media screen and (max-width: $tablet-max)
  .header
    li:last-child
      &:hover
        background-color: transparent
      
    &__registration
      a
        height: auto
        text-align: center
    li:hover
      background-color: $gray
    a:hover
      color: $red

@media (max-width: $mobile-max)
  .header 
    .brand-logo 
      height: 46px
      display: block
      img
        height: 100%
        width: auto
    &__bg
      height: 56px
      margin-top: -56px