.hero
  height: 650px
  margin-top: -65px
  padding-top: 320px
  h1
    color: #fff
    text-transform: uppercase
    width: 50%
    font-weight: 700
    line-height: 60px
  p
    color: #fff
    text-transform: uppercase
    font-weight: 700
    font-size: 22px

@media screen and (max-width: $mobile-max)
  .hero
    height: 550px
    padding-top: 220px
    h1
      font-size: 50px
      line-height: 1em
    p
      font-size: 20px

@media screen and (max-width: 400px)
  .hero
    h1
      font-size: 40px