.person
  img
    width: 100%
    height: auto
  &__item
    position: relative
    width: 300px
    height: auto
    margin:0 auto 20px
    line-height: 0.5
    &--wide
      width: 460px
    &:hover
      .person__item__info
        opacity: 1
    &__info
      position: absolute
      width: 100%
      color: #fff
      transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -webkit-transition: opacity .5s ease-in-out;
      padding-top: 25px
      top: 0
      bottom: 0
      opacity: 0
      text-align: center
      background: rgba(226, 87, 76, 0.8)
      h3
        color: #fff
      p
        line-height: 1.3
        padding-left: 10px
        padding-right: 10px

@media screen and (max-width: $tablet-max) and (min-width: $tablet-min)
  .person__item
    width: 250px
    &--wide
      width: 250px
      .person__item__info
        position: static
        opacity: 1
@media screen and (max-width: 400px)
  .person__item
    width: 260px
    &--wide
      width: 260px