.prices
  background-color: #eef2f5
  padding: 2px 0 30px
  &__info
    border-radius: 20px
    background-color: $red
    color: #fff
    height: 40px
    padding: 0 20px
    line-height: 40px
    text-align: center
    display: table
    margin: 40px auto
    font-weight: 700
    text-transform: uppercase 
  &__item
    border: 4px solid $red
    width: 294px
    background-color: #FFF
    text-align: center
    padding-bottom: 40px
    margin: auto
    &--disabled
      border-color: #e3e3e3
      .prices__item__title
        background-color: #e3e3e3
        color: #989898
      .prices__item__price
        color: #c4c4c4
        p
          color: #989898
      .prices__item__button
        background-color: #b7b7b7
        color: #fff
    &__title
      color: #fff
      text-transform: uppercase
      background-color: $red
      font-size: 20px
      padding: 40px 0
    &__price
      color: $red
      font-size: 50px
      p
        font-family: $font-title
        font-size: 28px
        margin-top: 55px
        font-weight: 700
        color: #000
        text-transform: uppercase
    &__button
      margin: 10px auto 0
      background-color: $red
      line-height: 46px;
      height: 46px;
      font-size: 18px;
      &:hover
        background-color: #E47D75
        color: #fff

@media (max-width: $tablet-max)
  .prices__info
    display: block
    background-color: #eef2f5
    color: $red