.program
	text-align: center
	&__item
		position: relative
		margin-bottom: 20px
		height: 282px
		&__title
			@extend .who__item__title
		&__text
			@extend .who__item__text

@media screen and (min-width: $large-min)
	.program__item
		&:after
			content: ""
			display: block
			width: 85%
			height: 1px
			background-color: #e3e3e3
			position: absolute
			bottom: 0px
		&:before
			content: ""
			display: block
			width: 1px
			height: 90%
			background-color: #e3e3e3
			position: absolute
			right: 0
		&--mid
			&:after
				width: 80%
				left: 10%
		&--ri
			&:after
				right: 0
				width: 90%
			&:before
				display: none
		&--last
			&:after
				display: none

@media screen and (max-width: $tablet-max) and (min-width: $tablet-min)
	.program__item__title
		font-size: 18px

@media (max-width: $tablet-max)
	.program__item:last-child 
		float: none;
		display: inline-block;