.subscribe
  &__text
    text-align: center
    color: #848484
    margin-bottom: 80px
  &__submit
    margin: auto
  &__separator
    height: 4px
    width: 100px
    margin: auto
    background-color: $red
  &__social
    width: 140px
    margin: 50px auto
    &__item
      width: 32px
      height: 32px
      display: inline-block
      border-radius: 16px
      background-color: #ccd0d2
      margin-right: 19px
      background-image: url("../img/social-sprite.png")
      a
        display: block
        width: 100%
        height: 100%
      &--fb
        background-position: -64px 0
        margin-right: 0
      &--tw
        background-position: -32px 0

.mc4wp-alert
  text-align: center
  color: green
  &.mc4wp-error
    color: #e2574c
  &.mc4wp-notice
    color: #F97715