.who
	padding-top: 70px
	text-align: center
	border-bottom: 2px solid #e4e7e7
	&__line
		background-color: $red
		width: 100px
		height: 4px
		margin: auto
	&__intro
		@extend .bonuses__intro
		font-weight: 400
		margin: 60px auto
		width: 80%
	&__item
		&__title
			@extend .bonuses__item__title
		&__text
			@extend .bonuses__item__text
			margin-top: 20px
		&__line
			background-color: #ccd0d2
			width: 22px
			height: 2px
			margin: auto
@media (max-width: $tablet-max)
	.who__item:last-child 
		float: none;
		display: inline-block;
